<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Home {% endblock title %}</title>
</head>
<body>
<h2>{% block header %}Place Holder{% endblock header %}</h2>
<p>
    <a href="{% url 'learning_logs:index' %}">Homepage</a>-
    <a href="{% url 'learning_logs:topics' %}">Anime Topics Page</a>-

{% if user.is_authenticated %}
    Hello, <strong>{{ user.username }}</strong>.
    <a href="{% url 'users:logout' %}">Log Out</a>
    {% else %}
    <a href="{% url 'users:register' %}">Create an Account</a>
    <a href="{% url 'users:login' %}">Log In</a>
    {% endif %}
</p>
{% block content %}
    <p>Empty for now</p>
{% endblock %}
</body>
</html>