{% extends "learning_logs/base.html" %}

{% block header %}
    <div class="jumbotron text-center">
        <h2>Tell your diary about your day!</h2>
    </div>
{% endblock header %}

{% block content %}
    <h3>
        <a href="{% url 'users:register' %}">Register an account</a> to document how you feel
        about any and everything that is going on with you.
    </h3>

    <h3>
        Whenever you feel the need to write down whats going on in your life, talk to your diary.
        Have faith that your information is safe and secure with us.
    </h3>
{% endblock content %}