{% extends "learning_logs/base.html" %}

{% block header %}
    <div class="text-center">
        <h2>Topics Page</h2>
    </div>
{% endblock header %}

{% block content%}
    <h4><a href="{% url 'learning_logs:new_topic' %}">Add a new topic here!</a></h4>

    {% for topic in topics %}
        <div class="panel panel-default text-center text-align">
            <div class="panel-heading">
            <h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3>
            </div>
        </div>
        {% empty %}
            You haven't added any topics yet!
        {% endfor %}


{% endblock content %}
